

@model PieShop.Models.Pie
@{
    ViewData["Title"] = "Details";
}
<style>
.container {
  position: relative;
}

.topright {
  position: absolute;
  top: 70px;
  right: 400px;
  font-size: 18px;
}


</style>
<body style="background-color:powderblue;"></body>

<h1>Details</h1>
<br />
<h3>PieName :    @Model.Name</h3>
<h4>Short Description :   @Model.ShortDescription</h4>
<h4>Long Description : </h4>
<h4>   @Model.LongDescription</h4>
<h3>Price : @Model.Price</h3>
<h3><img class="topright" alt="@Model.Name" src="@Model.ImageUrl" width="300px" height="300px"/></h3>
<br />


<a asp-controller="Pies" asp-action="Index" class="btn btn-dark">Back</a>
